body{
    font-family: Times, Times New Roman, serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(156, 154, 154);
    
}

/* Шапка */

.header{
    background-color: black;
}

.container{
    box-sizing: border-box;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header .container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    background-color: black;
    
    
}

.header_logo {
    width: 60px;
    height: 60px;
}   

.logo_navigation {
    margin: 0;
    padding: 0;
}

.logo_list {
    display: flex;
    justify-content: center;
    padding: 0;
    

}


.inner_list{
    list-style-type: none;
    margin-right: 10px;
    padding:0px 2px;
    
}

.inner_list a {
   text-decoration: none;
   color: black;
   color: white;
}

/* Основной блок */
.main{
    
}

.video_page{
    background-image: url(../images/фото_газа10.jpg);
    background-size: cover;
}

.page_instruction{
    background-color:rgb(50, 63, 107)
}

.tutle_centre_page{
    margin: 0;
    color: red;
}

.video_page .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    
}

.video {
    margin-top: 30px;
    width: 505px;
    height: 285px;
    border-radius: 10px;
    border: 2px solid black;
    margin-bottom: 40px;
}

.page_instruction .container{
    text-align: center;
    color: white;
    font-size: 25px;
}

.point_instructio{
    list-style: none;
    
}

.list_for_instruction{
    margin: 0;
}

.title_for_pictures_instruction{
    margin: 70px 0px;
    text-align: center;
}

.image_for_instruction{
    width: 500px;
    height: 350px;
}

.conteiner_for_picturies{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.descr{
    color: white;
    margin-top: 0;
}

.title_block_for_images{
    color: white;
    text-align: center;
    margin: 12px 0px;
    
}

.pictures_instruction .container{
    background-color: rgb(35, 35, 94);
    border: 1px solid black;
}
.list_for_instruction{
    padding: 0px;
}

/* footer */

.footer .container{
    display: flex;
    justify-content: space-between;
    
    font-size: 16px;

}

.footer {
    background-color: rgb(50, 63, 107);
    
}

.contacts {
    list-style: none;
    line-height: 2;
    
}

.left_footer{
    width: 33%;
}

.right_footer{
    width: 33%;
    
}
.contacts , .social_list{
    padding: 0;
}

.social_list{
    list-style: none;
    line-height: 2;
    
}

.link{
    text-decoration: none;
    color: white;
}

.right_footer{
    width: 33%;
    text-align: right;
}

.social_list a{
    display: block;
}

.btn{
    padding: 15px;
    background-color: orange;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.centre_button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.person_photo{
    width: 270px;
    height: 200px;
}

.anketa{
    width: 300px;
    height: 320px;
    background-color: rgb(232, 236, 238);
    color: black;
    border-radius: 10px;
    margin: 40px;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    
}

.main_workers .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.name_of_worker{
    margin: 0;
}

.person_photo{
    margin: 15px;
}

.main_workers{
    background-image: url(../images/abstract-background_24877-50937.jpg);
    
}

.title_for_article{
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;

}

.text_centre_article{
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
}

.main_about_work .container{
    background-color: white;
    color: black;
    border-radius: 10px;
}

.main_about_work{
    background-image: url(../images/фон0.jpeg);
    background-size: cover;
}

.main_application .container{
    text-align: center;
    color: black;
}

.list_application{
    list-style: none;
    
}

.article_about_application{
    font-size: 18px;
    
}

.text_repair, .repair_other{
    color: red;
    font-size: 25px;
    margin: 0;
    padding-bottom: 25px;
}

.main_application{
    background-image: url(../images/фон\ 15.webp);
    background-size: cover;
}

.title_for_application{
    margin: 0;
}

.title_chushpani{
    text-align: center;
    font-size: 50px;
    margin: 0;
}

.text_about_chushpan{
    font-size: 20px;
}

.container_for_photo_chushpanov{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container_for_photo_chushpanov figcaption{
    text-align: center;
    font-size:x-large;
    color: black;
    margin-top: 30px;
    margin-bottom: 50px;
    
}

.ruslan, .petya{
    width: 350px;
    height: 350px;
    border: 2px solid black;
    border-radius: 10px;
}

.chushpani_main .container{
    color: black;
    display: flex;
    justify-content: space-around;
}

.chushpani_main{
    background-image: url(../images/pexels-photo-82256.jpeg);
    background-size: cover;
}

.title_awards{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
    padding-top: 20px;
}

.block_for_photo_awards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.awards_picturies{
    width: 500px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px;
}

.main_awards .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main_awards{
    background-image: url(../images/pexels-photo-769525.jpeg);
    background-size: cover;
}

.desc_name{
    text-align: center;
    color: black;
    font-size: 30px;
}


@media (max-width: 1200px){
    .video{
        width: 400px;
        height: 225px;
    }
}

@media (max-width: 1040px){
    .image_for_instruction{
        width: 400px;
        height: 250px;
    }
    
}

@media (max-width: 990px){
    .video{
        width: 300px;
        height: 170px;
    }
}

@media (max-width: 960px){
   .descr{
    font-size: 13px;
   }
}

@media (max-width: 840px){
    .image_for_instruction{
        width: 320px;
        height: 190px;
    }
    .point_instructio{
        font-size: 17px;
    }
    .tutle_centre_page{
        font-size: 22px;
        
    }
    .title_block_for_images{
        font-size: 18px;
    }
    .descr{
        font-size: 10px;
    }
}

@media (max-width: 680px){
    .image_for_instruction{
        width: 280px;
        height: 160px;
    }
}

@media (max-width: 665px){
    .inner_list{
        font-size: 12px;
    }
}

@media (max-width: 650px){  
    .tutle_centre_page{
        font-size: 18px;
    }
    .point_instructio{
        font-size: 14px;
    }
}

@media (max-width: 640px){
    .video{
        width: 250px;
        height: 140px;
    }
}

@media (max-width: 615px){
    .descr{
        font-size: 8px;
    }
    .image_for_instruction{
        width: 250px;
        height: 180px;
    }
}

@media (max-width: 623px){
    .inner_list{
        margin-right: 0px;
    }
}

@media (max-width: 540px){
    .video{
        width: 425px;
        height: 240px;
    }
    .inner_list{
        font-size: 10px;
    }
    .conteiner_for_picturies{
        flex-wrap: wrap;
    }
    .image_for_instruction{
        width: 400px;
        height: 300px;
    }
    .descr{
        font-size: 12px;
    }
    .footer .container{
        font-size: 12px;
    }
}

@media (max-width: 467px){
    .point_instructio{
        font-size: 12px;
    }
    .tutle_centre_page{
        font-size: 14px;
    }
}
@media (max-width: 454px){
    .inner_list{
        font-size: 8px;
    }
    .video{
        width: 338px;
        height: 190px;
    }
    .image_for_instruction{
        width: 350px;
        height: 200px;
    }
}

@media (max-width: 440px){
    .footer .container{
        font-size: 10px;
    }
}

@media (max-width: 381px){
    .header_logo{
        width: 40px;
        height: 40px;
    }
    .btn{
        padding: 10px;
        font-size: 10px;
    }
    .image_for_instruction{
        width: 300px;
        height: 180px;
    }
    .descr{
        font-size: 10px;
    }
    .title_block_for_images{
        font-size: 12px;
    }

}

@media (max-width: 362px){
    .inner_list{
        font-size: 7px;
    }
    .video{
        width: 300px;
        height: 170px;
    }
    .tutle_centre_page{
        font-size: 14px;
    }
    .point_instructio{
        font-size: 11px;
    }
}

@media (max-width: 325px){
    .inner_list{
        font-size: 6px;
    }
    .tutle_centre_page{
        font-size: 15px;
    }
    .point_instructio{
        font-size: 10px;
    }
}

@media (max-width: 1366px){
    .main_application .container{
        font-size: 14px
    }

    .list_application{
        font-size: 16px;
    }
    .text_repair{
        font-size: 16px;
    }
    .repair_other{
        font-size: 16px;
    }
}



@media (max-width: 800px){
    .main_application .container{
        font-size: 10px
    }

    .list_application{
        font-size: 12px;
    }
    .text_repair{
        font-size: 12px;
    }
    .repair_other{
        font-size: 12px;
    }
}
@media (max-width: 800px){
    .header_logo{
        display: none;
    }
}

@media (max-width: 715px){
    .inner_list{
        font-size: 14px;
    }
    
}


@media (max-width: 500px){
    .main_application .container{
    text-align: start;
    }
    .list_application{
        padding: 0;
    }
    .text_repair{
        font-size: 12px;
        padding: 0;
    }
    .repair_other{
        font-size: 12px;
        padding: 0;
    }
    .inner_list{
        font-size: 12px;
    }
}

@media (max-width: 402px){
    .main_application .container{
        font-size: 10px
    }

    .list_application{
        font-size: 12px;
    }
    .text_repair{
        font-size: 12px;
    }
    .repair_other{
        font-size: 12px;
    }
}

@media (max-width: 540px){
    
    .repair_other{
        font-size: 12px;
        padding-bottom: 100px;
    }
    .inner_list{
        font-size: 10px;
    }
}

@media (max-width: 850px){
    .text_about_chushpan{
        font-size: 14px;
        padding-bottom: 30px;
    }
    .title_chushpani{
        font-size: 30px;
    }

    .ruslan, .petya{
        width: 250px;
        height: 250px;
    }

    .container_for_photo_chushpanov{
        padding-bottom: 100px;
    }

    .desc_name{
        font-size: 20px;
    }
}

@media (max-width: 770px){
    .text_about_chushpan{
        font-size: 12px;
    }
    .title_chushpani{
        font-size: 20px;
    }

    .ruslan, .petya{
        width: 250px;
        height: 250px;
    }
    .desc_name{
        font-size: 18px;
    }
    .container_for_photo_chushpanov{
        padding-bottom: 200px;
    }

}

@media (max-width: 650px){
    .ruslan, .petya{
        width: 200px;
        height: 200px;
    }
    .desc_name{
        font-size: 16px;
    }
    .title_chushpani{
        font-size: 18px;
    }
    .text_about_chushpan{
        font-size: 10px;
    }
}

@media (max-width: 540px){
    .ruslan, .petya{
        width: 300px;
        height: 250px;
    }
    .desc_name{
        font-size: 20px;
    }
    .title_chushpani{
        font-size: 16px;
        padding-top: 20px;
    }
    .text_about_chushpan{
        font-size: 10px;
        padding-bottom: 0px;
        text-align: left;
    }
    .container_for_photo_chushpanov{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 360px){
    .ruslan, .petya{
        width: 250px;
        height: 250px;
    }
    .desc_name{
        font-size: 20px;
    }
    .title_chushpani{
        font-size: 16px;
        padding-top: 20px;
    }
    .text_about_chushpan{
        font-size: 10px;
        padding-bottom: 0px;
        text-align: left;
    }
    .container_for_photo_chushpanov{
        display: flex;
        flex-wrap: wrap;
    }
}


@media (max-width: 580px){
    .awards_picturies{
        width: 400px;
        height: 300px;
    }
}

@media (max-width: 480px){
    .awards_picturies{
        width: 300px;
        height: 200px;
    }
    .inner_list{
        font-size: 10px;
    }
}

@media (max-width: 380px){
    .awards_picturies{
        width: 200px;
        height: 150px;
    }
    .inner_list{
        font-size: 9px;
    }
}

@media (max-width: 340px){
    
    .inner_list{
        font-size: 8px;
    }
}